/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    
}

/* TYPOGRAPHY */
h1{
    font-size: 2.35rem;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    text-shadow: 0.5px 0.5px  rgba(0, 0, 0, 0.721)
}

h2{
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

h3, caption{
    font-size: 1.65rem;
    margin-bottom: 0.75rem;
    font-style: normal;
    
}

h4{
    font-size: 1.35rem;
    margin-bottom: 0.75rem;
}

p{
    font-size: 1rem;
    line-height: 1.8rem;
}

.fas, .fa-brands{
    color: #e52e2e;
    font-size: 30px;
    padding-bottom: 5px;
}


/* button */
button{
    padding:12px 15px;
    background: linear-gradient(90deg, #6cc1e2 0%, #392f7a 100%);
    border: none;
    margin: 0 0 0 20px;
}

button a{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: white;
    text-shadow: 0.5px 0.5px  rgba(0, 0, 0, 0.721)
}

button:hover{
    transform: scale(110%);
    box-shadow: 0px 0px 20px #392f7a65;
}

.content{
    display: flex;
    width: 85%;
    justify-content: space-between;
}


/* HEADER */

header{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 0px 20px #d3d3d3;
    align-items: center;
    position: fixed;
    /* margin-bottom: 30px; */
}

nav>a{
    padding: 0 1rem;
    text-decoration: none;
    color: #2e2e2e;
}

nav>a:hover{
    text-decoration: underline;
    color: linear-gradient(90deg, #6cc1e2 0%, #392f7a 100%);
}

nav div{
    display: none;
    padding-top: 5px;
    color: #e52e2e;
    font-size: 30px;
}

/* MAIN */

/*hero*/

.hero{
    height: 30vh;
    padding: 15% 15% 5% 15%;
    color: white;
    background: linear-gradient(90deg, rgb(0, 0, 0) 100%, rgba(0,0,0,0.5) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.hero p{
    padding: 20px 0 10px 0;
}

.hero button{
    margin: 0;
}


/* goals */

.goals{
    text-align: center;
    padding: 5% 10% 8% 10%;
}

.goal-cards{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card-box{
    margin: 2%;
    width: 35%;
}

.card-box p{
    text-align: left;
}


/* banner */

.banner-cta{
    padding: 6% 15%; 
    text-align: center;
    color: white;
    background-color: #0c0633;
}

.banner-cta button{
    margin-top: 15px;
}

/* about us */

.about-us{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.box{
    margin: 20px;
}

.label{
    margin:15px;
}


/* FOOTER */

footer{
    padding: 5% ;
    text-align: center;
    background-color: #eeeeee;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 30px;
}

.block{
    width: 33%;
    padding: 0 3%;
    margin: 5px;
    box-sizing: border-box;
}

form>input:first-child{
    padding:12px;
    width: 100%;
    background: white;
    border: solid 1px grey;
    color: rgb(118, 118, 118);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    box-sizing: border-box;
}

form>input:last-child{
    padding:12px;
    width: 100%;
    background: linear-gradient(90deg, #6cc1e2 0%, #392f7a 100%);
    border: none;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

/* ---------------------------
CHI SIAMO
------------------------------ */
/* sezione1 */
.about-section{
    padding: 8%;
    color: black;
    text-align: center;
}

.about-section h1{
    color: black;
    margin-bottom: 30px;
}

.about-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.infobox{
    width: 50%;
    padding: 20px;
}


.about-info img{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
 
/* tabella */

.tabella{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: -5%;
    padding: 30px;
}

table {
    margin-bottom: 2em;
}

table:last-child{
    display: none;
}

thead tr {
    background-color: #5f82a3;
    color: #ffffff;
    line-height: 1.5rem;
}
th, td {
    padding: 30px 30px;
    vertical-align: bottom;
    text-align: center;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(odd) {
    background-color: #d2dce7;
}

/* ---------------------------
CHI SIAMO
------------------------------ */

.infobox form input{
    padding:12px;
    margin: 10px;
    width: 100%;
    background: white;
    border: solid 1px grey;
    border-radius: 3px;
    color: rgb(118, 118, 118);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.infobox form :last-child{
    padding:12px;
    width: 50%;
    background: linear-gradient(90deg, #6cc1e2 0%, #392f7a 100%);
    border: none;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 30px;
    border-radius: 0;
}

.infobox div{
    margin-bottom: 50px;
}

.infobox a{
    text-decoration: none;
    color: black;
}

.infobox a:hover{
    text-decoration: underline;
}





/* ---------------------------
RESPONSIVE
------------------------------ */

    /* HEADER */

@media screen and (max-width: 768px) {
    
    nav>a{
        padding: 0 0.4rem;
    }
    
}

@media screen and (max-width: 600px) {
    
    nav>a, nav>button{
        display: none;
    }

    nav div{
        display:block;
    }
}

    /* MAIN */

    /*hero*/
    @media screen and (max-width: 750px) {

        .hero{
            height: 50vh;
            padding: 30% 10% 10% 10%;
            color: white;
            /* background: linear-gradient(90deg, rgb(0, 0, 0) 100%, rgba(0,0,0,0.5) 100%); */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        
        }
        
    }

    @media screen and (max-width: 350px) {

        .hero{
            height: 50vh;
            padding: 50% 10% 10% 10%;
            color: white;
            /* background: linear-gradient(90deg, rgb(0, 0, 0) 100%, rgba(0,0,0,0.5) 100%); */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        
        }
        
    }

    /* goals */

    @media screen and (max-width: 1000px) {
        
        .goals{
            text-align: center;
            padding: 5% 5% 8% 5%;
    }

    @media screen and (max-width: 750px) {
        
        .goals{
            text-align: center;
            padding: 8% 4% 10% 0%;
            /* qui non so perche mi disallinea le box */
            margin: 0 10px 0 10px;
        }

        .goal-cards{
            display: block;
            margin-top: 30px;
        }

        .card-box{
            padding-bottom: 10px;
            width: 100%;
        }
    
        .card-box p{
            text-align: center;
        }

    }

    @media screen and (max-width: 500px) {
        
        .goals{
            padding: 12% 4% 10% 0%;
            
        }

    }

    /* banner */

    @media screen and (max-width: 600px) {
        
        .banner-cta{
            padding: 20% 8%;
        }
    
        .banner-cta button{
            margin-top: 15px;
        }

    }


    /* about us */

    @media screen and (max-width: 800px) {
        .about-us{
            margin: 10% 5%;
            display: flex;
            flex-direction: column;
        }
    
        .box{
            margin: 5px;
        }

        .box img{
            width: 100%;
        }
    
        .label{
            margin:30px 5px;
            text-align: center;
        }
    }

    /* FOOTER */

    @media screen and (max-width: 730px) {

        .footer-content{
            flex-direction: column;
        }

        .block{
            width: 100%;
            padding: 5%;
            margin: 5px;
        }

        .fa-brands{
            font-size: 35px;
        }

        footer>p:last-child{
            text-align: left;
            padding: 0 5%;
            margin: 5px;
        }

    }

    /* ---------------------------
    CHI SIAMO
    ------------------------------ */
    /* sezione1 */
    @media screen and (max-width: 950px) {

        .about-section{
            padding: 12% 5% 8% 5%;
        }

        .about-section h1{
            color: black;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .about-info{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .infobox{
            padding: 10px;
        }


        .about-info img{
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
    }

    @media screen and (max-width: 600px) {

        .about-section{
            padding: 20% 5% 8% 5%;
            
        }

        .about-section h1{
            margin-bottom: 30px;
        }

        .about-info{
            margin-top: 20px;
            flex-direction: column;
        }

        .infobox{
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }

        .about-info img{
            padding: 0px;
        }
    }

    /* tabella */

    @media screen and (max-width: 500px) {

        .tabella{
            display: flex;
            justify-content: center;
            margin-top: -5%;
            padding: 10px;
            box-sizing: border-box;
        }

        table {
            margin-bottom: 2em;
            display: none;
        }

        table:last-child{
            display: block;
        }

        thead tr {
            background-color: #5f82a3;
            color: #ffffff;
            line-height: 1.5rem;
        }

        td{
            padding: 10px 50px;
            vertical-align: middle;
            text-align: left;
            font-size: 20px;
        }

        tr td:first-of-type {
            padding: 10px;
        }

        tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        tbody tr{
            background-color: #d2dce7;
        }

        .white{
            background-color:white;
        }

        strong{
            font-weight: bold;
        }

    }
